*{
    margin: 0%;
}

.heading{
    text-align: center;
    background-color: rgb(255, 204, 0);
    padding: 20px 20px;
    margin:0%;
}

.sec1{
    text-align: center;
    margin: 10px;
}

.search{
    width: 90%;
    margin: 10px;
    padding: 10px;
}
.sec2{
    padding: 20px;
    border: black solid 4px;
    border-radius: 15px;
    width: 310px;
    margin: auto;
}

.img{
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height: 150px;
    display: block;
}

#name{
    font-size: 30px;
    margin: 0%;
}

#info{
    font-size: 20px;
    margin: 0%;
}

.skills{
    font-size: 20px;
    margin: 10px auto;
}

.list li:nth-child(2n){
    color: red;
}

.list{
    font-size: 20px;
}

.email{
    font-size: 20px;
    margin:auto ;
}

.web{
    margin: 0px;
    font-size: 20px;
}

a[href^="https"]{
    color: green;
}

#bio{
    font-size: 20px;
}

#hover:hover{
    background-color: greenyellow;
}

#disabled{
    background-color: pink;
}

.button{
    margin:10px 15px;
}

.sec4{
    background-color: rgb(226, 225, 225);
    padding: 10px;
    margin: 30px auto;
    border-radius: 10px;
    width: 350px;
}

h3{
    font-size: 20px;
    margin: auto;
}

.contact{
    width: 80%;
    margin: 10px 0px 5px 20px;
    padding: 10px;
    ;
}

#send{
    background-color: purple;
    width: 95%;
    margin: 5px;
    padding: 10px; ;
}

.sec5{
    width: 200px;
    text-align: center;
    border: blue solid 10px;
    font-size: 20px;
    padding: 25px;
    margin: 20px auto;
    background-color: gainsboro;
}

*::placeholder{
    color: rgb(246, 216, 96);
}